/.*
!/.gitignore
!/.github/

/dist/
/node_modules/
src/node_modules/
.vite/
/package-lock.json
/playwright.config.ts
/test-results/
/playwright-report/
/blob-report/

# Log files
*.log
dev_server.log
